<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net45" />
  <package id="CsQuery" version="1.3.3" targetFramework="net45" />
  <package id="FakeItEasy" version="1.22.0" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Serialization.ServiceStack" version="0.23.0" targetFramework="net45" />
  <package id="Nancy.Testing" version="0.23.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>